<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CraigsUtilityLibrary-DataTypes" version="3.0.0013" />
  <package id="CraigsUtilityLibrary-Events" version="3.0.0013" />
  <package id="CraigsUtilityLibrary-IO" version="3.0.0013" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.0.0013" />
  <package id="NUnit" version="2.5.10.11092" />
</packages>