

<h2>{{Method}} {{Url}}</h2>

<fieldset>
    <legend>Description</legend>

    <div class="display-label">Operation</div>
    <div class="display-field">{{Method}} {{Url}}</div>

    <div class="display-label">Description</div>
    <div class="display-field">{{Description}}</div>

    <div class="display-label">URL Parameters</div>
    <div class="display-field">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
            {{#Parameters}}
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Type}}</td>
                    <td>{{Default}}</td>
                </tr>
            {{/Parameters}}
            </tbody>
        </table>
    </div>
    
    <div class="display-label">Model Type</div>
    <div class="display-field">@Html.MetadataTypeLink(Model.ModelType)</div>
    
    <div class="display-label">Return Type</div>
    <div class="display-field"></div>
</fieldset>
<fieldset>
    <legend>Test JSON</legend>

    <div class="display-label">URL</div>
    <div class="display-field">
        {{Method}} @Html.TextBox("test-json-url", Model.Url)
    </div>

    @if (Model.Method == "POST" || Model.Method == "PUT" || Model.Method == "DELETE")
    { 
        <div class="display-label">Body</div>
        <div class="display-field">
            @Html.TextArea("test-json-body", Model.ModelSampleJson)
        </div>
    }
    
    <button id="test-json">Go</button>

    <div class="display-label">Response Header</div>
    <div class="display-field">
        <textarea id="test-json-response-header"></textarea>
    </div>

    <div class="display-label">Response Body</div>
    <div class="display-field">
        <textarea id="test-json-response"></textarea>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
    
</p>
<script type="text/javascript">
    $(function () {
        $("#test-json").click(function () {
            var url = '@UrlHelper.GenerateContentUrl("~", ViewContext.HttpContext)' + $("#test-json-url").val();
            console.log("Going to ", url);
            $.ajax(url, {
                type: '@Model.Method',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    var head = jqXHR.getAllResponseHeaders();
                    $('#test-json-response-header').val(head);
                    $('#test-json-response').val(jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#test-json-response-header').val(jqXHR.getAllResponseHeaders());
                    $('#test-json-response').val(jqXHR.responseText);
                }
            });
        });

    });
</script>
