<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeRouting" version="1.5.4426" />
  <package id="CraigsUtilityLibrary-DataTypes" version="3.0.0013" />
  <package id="CraigsUtilityLibrary-Events" version="3.0.0013" />
  <package id="CraigsUtilityLibrary-IO" version="3.0.0013" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.0.0013" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.7" />
  <package id="WebActivator" version="1.5" />
</packages>