@inherits System.Web.Mvc.WebViewPage

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>This is a simple test.</div>
</body>
</html>
