

<section id="operation">
    <h2>{{Route.Method}} {{Route.Url}}</h2>
    <div class="row">
        <div class="span4">
            <h3>Description</h3>
            <p>{{Route.Description}}</p>
        </div>
        <div class="span8">
            <h3>URL Parameters</h3>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in Route.Parameters %}
                    <tr>
                        <td>{{item.Name}}</td>
                        <td>{{item.Type}}</td>
                        <td>{{item.Default}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h3>Model Type <small>Data type sent as body</small></h3>
            <p>
                {% if Route.ModelHasMetadata %}
                    <a href="{{MetadataUrl}}type/{{Route.ModelType}}">{{Route.ModelType}}</a>
                {% else %}
                    {{Route.ModelType}}
                {% endif %}
            </p>
        </div>
    </div>
</section>


<section id="test">
    <h2>Test Operation</h2>
    <div class="row">
        <div class="span12">
            <ul id="test-tabs" class="nav nav-tabs">
                <li><a href="#test-json" data-toggle="tab">JSON</a></li>
                <li><a href="#test-xml" data-toggle="tab">XML</a></li>
            </ul>
            <div id="testforms" class="tab-content">
                <div class="tab-pane" id="test-json">
                    <form class="form-inline">
                        <span>{{Route.Method}}</span> <span>{{BaseUrl}}<input id="test-json-url" value="{{Route.Url}}" /></span>
                        <button id="test-json-go" class="btn btn-warning btn-small">{{Route.Method}}</button>

                        <p>
                        {% if (Route.Method == "POST" || Route.Method == "PUT" || Route.Method == "DELETE") %}
                            <textarea id="test-json-body" cols="60" rows="10">{{Route.ModelSampleJson}}</textarea>
                        {% endif %}
                        </p>
                    </form>
                </div>
                <div class="tab-pane" id="test-xml">
                TODO: Make XML test
                </div>
            </div>

            <h3>Response</h3>
            <ul id="test-response-tabs" class="nav nav-tabs">
                <li><a href="#test-response-body" data-toggle="tab">Body</a></li>
                <li><a href="#test-response-headers" data-toggle="tab">Headers</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="test-response-body">
                    <pre id="test-response-body-code"></pre>
                </div>
                <div class="tab-pane" id="test-response-headers">
                    <pre id="test-response-headers-code"></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $("#test-json-go").click(function () {
            var url = '{{BaseUrl}}' + $("#test-json-url").val();
            console.log("Going to ", url);
            $.ajax(url, {
                type: '{{Route.Method}}',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    var head = jqXHR.getAllResponseHeaders();
                    $('#test-response-headers-code').text(head);
                    $('#test-response-body-code').text(jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#test-response-headers-code').text(jqXHR.getAllResponseHeaders());
                    $('#test-response-body-code').text(jqXHR.responseText);
                }
            });
            return false;
        });

    });
</script>
