

<section id="operation">
    <h2>{{Route.Method}} {{Route.Url}}</h2>
    <div class="row">
        <div class="span12">
            <h3>Description</h3>
            <p>
                {% if Route.Description != "" %}
                    {{Route.Description}}
                {% else %}
                    <em>Not available.</em>
                {% endif %}
            </p>

            <h3>Parameters</h3>
            {% assign hasParameters = false %}
            {% for t in Route.Parameters %}{% assign hasParameters = true %}{% endfor %} <!-- TODO: there has to be a better way..  -->

            {% if hasParameters %}
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>In URL?</th>
                            <th>Default</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in Route.Parameters %}
                        <tr>
                            <td>{{item.Name}}</td>
                            <td>{{item.Type}}</td>
                            <td>{% if item.InUrl %}Yes{% else %}No{% endif %}</td>
                            <td>{{item.Default}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %} 
                <p><em>No parameters for this operation.</em></p>
            {% endif %}


            <h3>Model Type <small>Data type sent as body</small></h3>
            <p>
                {% if Route.ModelType.Name %}
                    <a href="{{MetadataUrl}}type/{{Route.ModelType.Name | Escape}}">{{Route.ModelType.Name | Escape}} </a>
                {% else %}
                    <em>No model for this operation.</em>
                {% endif %}
            </p>

            
            <h3>Return Type</h3>
            <p>
                {% if Route.ReturnType.Name %}
                    <a href="{{MetadataUrl}}type/{{Route.ReturnType.Name | Escape}}">{{Route.ReturnType.Name | Escape}}</a>
                {% else %}
                    <em>Not available.</em>
                {% endif %}
            </p>
        </div>
    </div>
</section>


<section id="test">
    <h2>Test Operation</h2>
    <div class="row">
        <div class="span12">
            <ul id="test-tabs" class="nav nav-tabs">
                <li class="active"><a href="#test-json" data-toggle="tab">JSON</a></li>
                <li><a href="#test-xml" data-toggle="tab">XML</a></li>
            </ul>
            <div id="testforms" class="tab-content">
                <div class="tab-pane active" id="test-json">
                    <form class="form-inline">
                        <span>{{Route.Method}}</span> <span>{{BaseUrl}}<input id="test-json-url" value="{{Route.Url}}" /></span>
                        <button id="test-json-go" class="btn btn-warning btn-small">{{Route.Method}}</button>

                        <div class="control-group" id="test-json-body-control">
                            {% if (Route.Method == "POST" || Route.Method == "PUT" || Route.Method == "DELETE") %}
                                <textarea id="test-json-body" cols="80" rows="10">{{Route.ModelType.SampleJson}}</textarea>
                            {% endif %}
                            <span class="help-inline"></span>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="test-xml">
                    <form class="form-inline">
                        <span>{{Route.Method}}</span> <span>{{BaseUrl}}<input id="test-xml-url" value="{{Route.Url}}" /></span>
                        <button id="test-xml-go" class="btn btn-warning btn-small">{{Route.Method}}</button>

                        <div class="control-group" id="test-json-xml-control">
                            {% if (Route.Method == "POST" || Route.Method == "PUT" || Route.Method == "DELETE") %}
                                <textarea id="test-xml-body" cols="80" rows="10">{{Route.ModelType.SampleXml}}</textarea>
                            {% endif %}
                            <span class="help-inline"></span>
                        </div>
                    </form>
                </div>
            </div>

            <h3>Response</h3>
            <ul id="test-response-tabs" class="nav nav-tabs">
                <li><a href="#test-response-body" data-toggle="tab" id="test-response-body-tab">Body</a></li>
                <li><a href="#test-response-headers" data-toggle="tab" id="test-response-headers-tab">Headers</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="test-response-body">
                    <pre id="test-response-body-code" class="prettyprint linenums"></pre>
                </div>
                <div class="tab-pane" id="test-response-headers">
                    <pre id="test-response-headers-code"></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $("#test-json-go").click(function () {
            runTest('json');
            return false;
        });
        $("#test-xml-go").click(function () {
            runTest('xml');
            return false;
        });

        function runTest(format) {
            var url = '{{BaseUrl}}' + $('#test-'+format+'-url').val();
            console.log('Going to:', url, 'format:', format);

            var postdata = $('#test-'+format+'-body').val();
            if (postdata) {
//                try {
//                    postdata = $.parseJSON(postdata);
//                } catch {
//                    $('#test-json-body-control').addClass('error');
//                    $('#test-json-body-control span.help-inline').text('Invalid input JSON');
//                    return false;
//                }
//                
//                $('#test-json-body-control span.help-inline').text();
//                $('#test-json-body-control').removeClass('error');

                console.log('postdata', postdata);
            }

            $.ajax(url, {
                type: '{{Route.Method}}',
                dataType: format,
                data: postdata,
                success: function (data, textStatus, jqXHR) {
                    var head = jqXHR.getAllResponseHeaders().replace(/\n/g, '<br/>');
                    $('#test-response-headers-code').html(prettyPrintOne('HTTP ' + jqXHR.status + ' ' + jqXHR.statusText + '<br/>' + head, null, true));
                    $('#test-response-body-code').html(prettyPrintOne(htmlEscape(jqXHR.responseText), format, true));
                    $('#test-response-body-tab').tab('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var head = jqXHR.getAllResponseHeaders().replace(/\n/g, '<br/>');
                    $('#test-response-headers-code').html(prettyPrintOne('HTTP ' + jqXHR.status + ' ' + jqXHR.statusText + '<br/>' + head, null, true));
                    $('#test-response-body-code').html(prettyPrintOne(htmlEscape(jqXHR.responseText), format, true));
                    $('#test-response-headers-tab').tab('show');
                },
                beforeSend: function (jqXHR, settings) {
                    console.log('beforeSend', jqXHR, settings);
                },
                cache: false
            });
        }

        function htmlEscape(str) {
            return String(str)
            .replace(/&/g, '&amp;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#39;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;');
        }


    });
</script>
