

<h2>{{Route.Method}} {{Route.Url}}</h2>

<fieldset>
    <legend>Description</legend>

    <div class="display-label">Operation</div>
    <div class="display-field">{{Route.Method}} {{Route.Url}}</div>

    <div class="display-label">Description</div>
    <div class="display-field">{{Route.Description}}</div>

    <div class="display-label">URL Parameters</div>
    <div class="display-field">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
            {% for item in Route.Parameters %}
                <tr>
                    <td>{{item.Name}}</td>
                    <td>{{item.Type}}</td>
                    <td>{{item.Default}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="display-label">Model Type</div>
    <div class="display-field">
        {% if Model.ModelHasMetadata %}
            <a href="{{BaseUrl}}type/{{Route.ModelType}}">{{Route.ModelType}}</a>
        {% else %}
            {{Route.ModelType}}
        {% endif %}
    </div>
    
    <div class="display-label">Return Type</div>
    <div class="display-field"></div>
</fieldset>
<fieldset>
    <legend>Test JSON</legend>

    <div class="display-label">URL</div>
    <div class="display-field">
        {{Method}} <input id="test-json-url" value="{{Route.Url}}" />
    </div>

    {% if (Model.Method == "POST" || Model.Method == "PUT" || Model.Method == "DELETE") %}
        <div class="display-label">Body</div>
        <div class="display-field">
            <textarea id="test-json-body" cols="60" rows="10">{{Model.ModelSampleJson}}</textarea>
        </div>
    {% endif %}
    
    <button id="test-json">Go</button>

    <div class="display-label">Response Header</div>
    <div class="display-field">
        <textarea id="test-json-response-header" cols="60" rows="10"></textarea>
    </div>

    <div class="display-label">Response Body</div>
    <div class="display-field">
        <textarea id="test-json-response" cols="60" rows="10"s></textarea>
    </div>

</fieldset>
<p>
    <a href="{{BaseUrl}}">Back to List</a>    
</p>
<script type="text/javascript">
    $(function () {
        $("#test-json").click(function () {
            var url = '{{BaseUrl}}' + $("#test-json-url").val();
            console.log("Going to ", url);
            $.ajax(url, {
                type: '{{Route.Method}}',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    var head = jqXHR.getAllResponseHeaders();
                    $('#test-json-response-header').val(head);
                    $('#test-json-response').val(jqXHR.responseText);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#test-json-response-header').val(jqXHR.getAllResponseHeaders());
                    $('#test-json-response').val(jqXHR.responseText);
                }
            });
        });

    });
</script>
