
<section id="operation">
    <h2>{% if Model.ArrayDetail %}Array of {{Model.ArrayDetail.Name | Escape}}{% else %}{{Model.Name | Escape}}{% endif %}</h2>
    <div class="row">
        <div class="span12">
            <h3>Description</h3>
            <p>
                {% if Model.Description and Model.Description != "" %}
                    {{Model.Description}}
                {% else %}
                    <em>Not available.</em>
                {% endif %}
            </p>

            {% if Model.ArrayDetail %}
                <h3>Array Content</h3>
                <p>
                    <a href="{{MetadataUrl}}type/{{Model.ArrayDetail.Name | Escape}}">{{Model.ArrayDetail.Name | Escape}}</a>
                </p>
            {% endif %}

            <h3>Object Model</h3>
            <ul id="objectmodel-tabs" class="nav nav-tabs">
                <li class="active"><a href="#objectmodel-json" data-toggle="tab" id="objectmodel-json-tab">JSON</a></li>
                <li><a href="#objectmodel-xml" data-toggle="tab" id="objectmodel-xml-tab">XML</a></li>
                <li><a href="#objectmodel-csharp" data-toggle="tab" id="objectmodel-csharp-tab">C#</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="objectmodel-json">
                    <pre class="prettyprint linenums lang-js">{{Model.SampleJson | Escape}}</pre>
                </div>
                <div class="tab-pane" id="objectmodel-xml">
                    <pre class="prettyprint linenums lang-xml">{{Model.SampleXml | Escape}}</pre>
                </div>
                <div class="tab-pane" id="objectmodel-csharp">
                    <pre class="prettyprint linenums lang-cs">{{Model.SampleCSharp | Escape}}</pre>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        window.prettyPrint();
    });
</script>